<div class="images-holders margin-top-80">
  <div>
    <img class="image-width" src="/assets/restaurant_image.png" alt="RESTAURANT IMAGE" />
  </div>
  <div class="text-align-center">
    <h3>Visit Restaurants</h3>
    <button class="primary-button"><a class="text-decoration-none color-black" routerLink="/restaurantList">Restaurants</a></button>
  </div>
</div>

<div class="images-holders margin-top-80">
  <div class="text-align-center">
    <h3>Visit Places</h3>
    <button class="primary-button"><a class="text-decoration-none color-black" routerLink="/placesList">Places</a></button>
  </div>
  <div>
    <img class="image-width" src="/assets/place_image.png" alt="PLACE IMAGE" />
  </div>
</div>
