<h3 class="text-align-center">Restaurants List</h3>
<div class="list-container" *ngIf="areRestaurantsRendered">
  <div *ngFor="let restaurant of allRestaurants['allRestaurants']" class="list-card">
    <div class="text-align-center"><img src="{{'http://localhost:3000/'+restaurant.imageUrl}}" alt="IMAGE" width="200"/></div>
    <div class="card-detail-container">
      <div>
        Name: {{restaurant.name}}
      </div>
      <div>
        Phone: {{restaurant.phoneNumber}}
      </div>
      <div>
        Street: {{restaurant.street}}
      </div>
      <div>
        City: {{restaurant.city}}
      </div>
      <div>
        State: {{restaurant.state}}
      </div>
    </div>
    <div class="text-align-center margin-top-20">
      <form (ngSubmit)="showDetail(f)" #f='ngForm'>
        <input type="hidden" value="{{restaurant._id}}" name="restaurant-id" ngModel="{{restaurant._id}}"/>
        <button class="secondary-button" type="submit"><a class="text-decoration-none color-white">Show Details</a></button>
      </form>
    </div>
  </div>
</div>
