<h3 class="text-align-center">Restaurants List</h3>
<div class="list-container">
  <div class="list-card">
    <div class="text-align-center"><img src="/assets/logo.png" alt="IMAGE" width="200"/></div>
    <div class="card-detail-container">
      <div>
        Name: Name of place
      </div>
      <div>
        Phone: Phone Number
      </div>
      <div>
        Street: Street
      </div>
      <div>
        City: City of place
      </div>
      <div>
        State: state of place
      </div>
    </div>
    <div class="text-align-center margin-top-10">
      <button class="secondary-button">Show Details</button>
    </div>
  </div>
</div>
